services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./:/var/www/html
    ports:
      - "8000:8000"
    environment:
      - APP_ENV=dev
      - DATABASE_URL=postgresql://app:sealed_secret@database:5432/nexus_core?serverVersion=16&charset=utf8
      - MESSENGER_TRANSPORT_DSN=redis://redis:6379/messages
    working_dir: /var/www/html
    command: php -S 0.0.0.0:8000 -t public
    depends_on:
      - database
      - redis

  database:
    image: postgres:16-alpine
    environment:
      - POSTGRES_DB=nexus_core
      - POSTGRES_USER=app
      - POSTGRES_PASSWORD=sealed_secret
    ports:
      - "5433:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  redis:
    image: redis:alpine
    ports:
      - "6380:6380"

volumes:
  db_data:
